<section class="gallery-lightbox-container">
  <div class="gallery">
    @for (data of galleryData; track $index; let i = $index) {
    <div class="gallery-img">
      <img (click)="onPreviewImage($index)" [ngSrc]="data.imageSrc" [alt]="data.imageAlt" [width]="data.imageWidth"
        [height]="data.imageHeight" [priority]="i === findLargestImageIndex()">
    </div>
    }

    @if (showMask) {
    <div class="lightbox" @animation2>

      @if (showCount) {
      <span class="count">{{ currentIndex + 1 }}/{{ totalImageCount }}</span>
      }

      @if (previewImage) {
      <button class="close-btn" (click)="onClosePreview()">
        <i class="far fa-times"></i>
      </button>
      }

      @if (controls) {
      <button class="btn-lightbox-carousel btn-prev" (click)="prev()">
        <i class="fas fa-arrow-circle-left icon-lightbox-carousel icon-prev"></i>
      </button>
      <button class="btn-lightbox-carousel btn-next" (click)="next()">
        <i class="fas fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
      </button>
      }
      @if (previewImage) {
      <div [@animation]="{value: 'visible'}" (@animation.done)="onAnimationEnd($event)" class="lightbox-img">
        <img [ngSrc]="currentlightBoxImage.imageSrc" [alt]="currentlightBoxImage.imageAlt" width="950" height="571">
      </div>
      }
    </div>
    }
  </div>
</section>